<!doctype html>
<html>
<head>
    <title>Resistance</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { 
            padding-top:80px;
            background-color: #263238; 
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>
            <span class="fa fa-star"></span> Welcome to Resistance! <span class="fa fa-star"></span> 
        </h1>
        <br/>
        <br/>
        <a href="/login" class="btn btn-primary btn-lg"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-primary btn-lg"><span class="fa fa-user"></span> Signup</a>
    </div>
</div>
</body>
</html>