<!doctype html>
<html>
<head>
    <title>Resistance!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { 
            padding-top:80px;
            background-color: #263238; 
        }
    </style>
</head>
<div class="container">
    <div class="jumbotron col-md-8 col-md-offset-2 col-xs-12">
        <div class="page-header text-center">
            <h1>
                <span class="fa fa-star"></span> 
                Join a Game!
                <span class="fa fa-star"></span>
            </h1>
        </div>
    <!-- LOGIN FORM -->
    <form action="/joinGame" method="post">
        <div class="form-group">
            <label>Enter Game Leader Name:</label>
            <input type="text" class="form-control" name="gameLeader">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Join</button>
    </form>

</div>
</body>
</html>