<!doctype html>
<html>
<head>
    <title>Join Game</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { 
            padding-top:80px;
            background-color: #263238; 
        }
    </style>
</head>
<div class="container">
<div class="jumbotron col-md-8 col-md-offset-2 col-xs-12">
    <div class="page-header text-center">
        <h1>
            <span class="fa fa-star"></span> 
            Join a Game!
            <span class="fa fa-star"></span>
        </h1>
    </div>

    <!-- show any messages that come back with join game request -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- Join Game form -->
    <form action="/joinGame" method="post">
        <div class="form-group">
            <label>Enter game leader's username:</label>
            <input type="text" class="form-control" name="gameID">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Join</button>
    </form>
	<button onclick="location.href = '/profile';" id="myButton" class="btn btn-primary btn-lg" >Back</button>

</div>
</div>
</body>
</html>