canvas
  { position : relative
  }

#ui
  { position : absolute
  ; left : 0
  ; top : 0
  ; width : 512px
  ; height : 512px

  /*Important: set the z-index to 1 so that it appears above Hexi's canvas*/
  ; z-index: 1
  }